<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpenExchangeRates.ApiKey" value="21bde90727d8435aa08b343ebfab0bab" />
    <add key="CurrencyUrl" value="https://openexchangerates.org/api/currencies.json" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>